KEYWORDS: books, comics, pennyarcade, reading
LICENSE: CC:BY-SA
LINK: http://penny-arcade.com/comic/2009/3/9/progress/
PERMALINK: http://ratafia.info/post/84930837/its-almost-like-magic
PUBLISHED: 02009-03-09T13:18:00-0400
TITLE: It’s Almost Like Magic
UPDATED: 02009-03-09T13:18:00-0400
--

