BOOKMARK: http://delicious.com/url/6247b75ed97afc00ea78d0170ec4cfc7
KEYWORDS: apple, design, marcoarment
LICENSE: CC:BY-SA
LINK: http://www.marco.org/85610270
PERMALINK: http://ratafia.info/post/85669445/whats-apples-problem-with-buttons
PUBLISHED: 02009-03-11T19:30:00-0400
TITLE: ‘What’s Apple’s problem with buttons?’
UPDATED: 02009-03-11T19:30:00-0400
--
> With both the new buttonless trackpads and the new iPod Shuffle, it seems
> that Apple’s going on an all-out war to eliminate as many buttons as possible
> from their products.

[My opinion][tweet], from December of last year:

> [<q>Keeping with Steve Jobs’ seeming fear of buttons…</q>][ai]
>
> Or maybe machines should be smarter so buttons are irrelevant.

 [ai]: http://appleinsider.com/print/08/12/07/apples_led_cinema_display_the_review.html "‘Apple’s LED Cinema Display: the review"

 [tweet]: http://twitter.com/stilist/status/1054320530
