KEYWORDS: pdx, photography
LICENSE: CC:BY-SA
PERMALINK: http://ratafia.info/post/11829143988/this-week-16-october-02011
PUBLISHED: 02011-10-23T12:12:00-0700
TITLE: This week, 16 October 02011
UPDATED: 02011-10-23T12:12:00-0700
--
<figure>[![](http://farm7.static.flickr.com/6045/6273103847_01b52aaf5f_b.jpg)](http://www.flickr.com/photos/stilist/6273103847/)</figure>
<figure>[![](http://farm7.static.flickr.com/6038/6273629320_bae29fa993_b.jpg)](http://www.flickr.com/photos/stilist/6273629320/)</figure>
<figure>[![](http://farm7.static.flickr.com/6115/6273105077_e912c22845_b.jpg)](http://www.flickr.com/photos/stilist/6273105077/)</figure>
<figure>[![](http://farm7.static.flickr.com/6211/6273630332_9dd6dfc26e_b.jpg)](http://www.flickr.com/photos/stilist/6273630332/)</figure>
<figure>[![](http://farm7.static.flickr.com/6103/6273106015_1438497d2a_b.jpg)](http://www.flickr.com/photos/stilist/6273106015/)</figure>
<figure>[![](http://farm7.static.flickr.com/6230/6273631208_ef6cf542ec_b.jpg)](http://www.flickr.com/photos/stilist/6273631208/)</figure>
<figure>[![](http://farm7.static.flickr.com/6051/6273631732_203f39340e_b.jpg)](http://www.flickr.com/photos/stilist/6273631732/)</figure>
<figure>[![](http://farm7.static.flickr.com/6032/6273107485_095618caec_b.jpg)](http://www.flickr.com/photos/stilist/6273107485/)</figure>
<figure>[![](http://farm7.static.flickr.com/6051/6273107881_3584553a37_b.jpg)](http://www.flickr.com/photos/stilist/6273107881/)</figure>
<figure>[![](http://farm7.static.flickr.com/6048/6273108681_367a8b8438_b.jpg)](http://www.flickr.com/photos/stilist/6273108681/)</figure>
<figure>[![](http://farm7.static.flickr.com/6047/6273109287_05d4e0e3bc_b.jpg)](http://www.flickr.com/photos/stilist/6273109287/)</figure>
<figure>[![](http://farm7.static.flickr.com/6219/6273109689_d9f864d232_b.jpg)](http://www.flickr.com/photos/stilist/6273109689/)</figure>
<figure>[![](http://farm7.static.flickr.com/6051/6273110167_b24c7e7257_b.jpg)](http://www.flickr.com/photos/stilist/6273110167/)</figure>
<figure>[![](http://farm7.static.flickr.com/6031/6273635338_6803f14cfd_b.jpg)](http://www.flickr.com/photos/stilist/6273635338/)</figure>
<figure>[![](http://farm7.static.flickr.com/6240/6273635914_cac560706b_b.jpg)](http://www.flickr.com/photos/stilist/6273635914/)</figure>
<figure>[![](http://farm7.static.flickr.com/6044/6273636240_969f0c2224_b.jpg)](http://www.flickr.com/photos/stilist/6273636240/)</figure>
<figure>[![](http://farm7.static.flickr.com/6218/6273637002_aa78f99623_b.jpg)](http://www.flickr.com/photos/stilist/6273637002/)</figure>
<figure>[![](http://farm7.static.flickr.com/6044/6273112565_a067ba54d4_b.jpg)](http://www.flickr.com/photos/stilist/6273112565/)</figure>
<figure>[![](http://farm7.static.flickr.com/6231/6273113121_9df364b1e0_b.jpg)](http://www.flickr.com/photos/stilist/6273113121/)</figure>
<figure>[![](http://farm7.static.flickr.com/6228/6273638768_9971088505_b.jpg)](http://www.flickr.com/photos/stilist/6273638768/)</figure>
<figure>[![](http://farm7.static.flickr.com/6109/6273114397_1a4edb4ab1_b.jpg)](http://www.flickr.com/photos/stilist/6273114397/)</figure>
