KEYWORDS: music, superfurryanimals, video
LICENSE: CC:BY-SA
PERMALINK: http://ratafia.info/post/768283267/super-furry-animals-juxtaposed-with-u
PUBLISHED: Jul 3rd, 2010 11:46pm
TITLE: Super Furry Animals — ‘Juxtaposed with U’
UPDATED: 02010-07-03T23:46-0800
--
<object type='application/x-shockwave-flash'
    data='http://www.youtube-nocookie.com/v/3jw7u4f-Ujg'
    width='536px' height='427px'>
</object>
