KEYWORDS: design, meta, rainbowsand, wordpress
LICENSE: CC:BY-SA
PERMALINK: http://ratafia.info/post/83877017/rainbow-sand
PUBLISHED: 02009-03-05T16:04:00-0500
TITLE: rainbow sand
UPDATED: 02009-03-05T16:04:00-0500
--
Today I had a fit of inspiration and created a new blog design: 

![(Screen capture of rainbow sand design)][rsimg]

 [rsimg]: http://img.photobucket.com/albums/v240/stilist/Miscellaneous/rainbowsand.jpg

It’s currently named ‘rainbow sand’, which is a pretty terrible
name — unfortunately my word-choosing ability was not similarly inspired. The
result doesn’t quite mirror [my mockup][mockup], due to uncertainty about how
to best implement the offset fills. I may experiment with it further; we’ll
see.

 [mockup]: http://flickr.com/photos/stilist/3330507725/ "See mockup on Flickr"

At time of writing, it’s WordPress-only, but I’ll be converting it for Tumblr.
The slowest part is always the stylesheet, and that only needs to be done once.

[Have a look at the code!][rsgit]

 [rsgit]: http://github.com/stilist/ratafiacurrant/tree/master/themes/rainbowsand-wp

**Update:** The [Tumblr variant][rstgit] of the theme is now complete.

 [rstgit]: http://github.com/stilist/ratafiacurrant/tree/master/themes/rainbowsand
