KEYWORDS: pdx, photography
LICENSE: CC:BY-SA
PERMALINK: http://ratafia.info/post/12130360791/this-week-23-october-02011
PUBLISHED: 02011-10-30T13:45:00-0700
TITLE: This week, 23 October 02011
UPDATED: 02011-10-30T13:45:00-0700
--
<figure>[![](http://farm7.static.flickr.com/6099/6296149796_a03007c6b3_b.jpg)](http://www.flickr.com/photos/stilist/6296149796/)</figure>
<figure>[![](http://farm7.static.flickr.com/6097/6296150252_b2d02aaf51_b.jpg)](http://www.flickr.com/photos/stilist/6296150252/)</figure>
<figure>[![](http://farm7.static.flickr.com/6045/6296150632_d6983bca15_b.jpg)](http://www.flickr.com/photos/stilist/6296150632/)</figure>
<figure>[![](http://farm7.static.flickr.com/6042/6295620181_04560d01cd_b.jpg)](http://www.flickr.com/photos/stilist/6295620181/)</figure>
<figure>[![](http://farm7.static.flickr.com/6092/6296152444_a3fd5345db_b.jpg)](http://www.flickr.com/photos/stilist/6296152444/)</figure>
<figure>[![](http://farm7.static.flickr.com/6228/6296152974_4ff7cbcb4d_b.jpg)](http://www.flickr.com/photos/stilist/6296152974/)</figure>
<figure>[![](http://farm7.static.flickr.com/6046/6296153328_1e574312e6_b.jpg)](http://www.flickr.com/photos/stilist/6296153328/)</figure>
<figure>[![](http://farm7.static.flickr.com/6051/6296153730_9c3ff7219d_b.jpg)](http://www.flickr.com/photos/stilist/6296153730/)</figure>
<figure>[![](http://farm7.static.flickr.com/6039/6296154322_5f6e996a0c_b.jpg)](http://www.flickr.com/photos/stilist/6296154322/)</figure>
<figure>[![](http://farm7.static.flickr.com/6120/6295623805_a2ef595df9_b.jpg)](http://www.flickr.com/photos/stilist/6295623805/)</figure>
<figure>[![](http://farm7.static.flickr.com/6231/6296155104_f1c942fff0_b.jpg)](http://www.flickr.com/photos/stilist/6296155104/)</figure>
