KEYWORDS: pdx, photography
LICENSE: CC:BY-SA
PERMALINK: http://ratafia.info/post/10945170983/this-week-25-september-02011
PUBLISHED: 02011-10-02T12:07:00-0700
TITLE: This week, 25 September 02011
UPDATED: 02011-10-02T12:07:00-0700
--
<figure>[![](http://farm7.static.flickr.com/6152/6204621584_13ec4d5875_b.jpg)](http://www.flickr.com/photos/stilist/6204621584/)</figure>
<figure>[![](http://farm7.static.flickr.com/6165/6204621966_dc53483cfa_b.jpg)](http://www.flickr.com/photos/stilist/6204621966/)</figure>
<figure>[![](http://farm7.static.flickr.com/6174/6204105227_623722f002_b.jpg)](http://www.flickr.com/photos/stilist/6204105227/)</figure>
<figure>[![](http://farm7.static.flickr.com/6167/6204622778_e64359d87a_b.jpg)](http://www.flickr.com/photos/stilist/6204622778/)</figure>
<figure>[![](http://farm7.static.flickr.com/6163/6204623210_52d6b4ba3a_b.jpg)](http://www.flickr.com/photos/stilist/6204623210/)</figure>
<figure>[![](http://farm7.static.flickr.com/6130/6204623534_597148c139_b.jpg)](http://www.flickr.com/photos/stilist/6204623534/)</figure>
<figure>[![](http://farm7.static.flickr.com/6178/6204623880_0e445a8afd_b.jpg)](http://www.flickr.com/photos/stilist/6204623880/)</figure>
<figure>[![](http://farm7.static.flickr.com/6024/6204106987_1491842f1c_b.jpg)](http://www.flickr.com/photos/stilist/6204106987/)</figure>
<figure>[![](http://farm7.static.flickr.com/6172/6204107389_a2161f6fc1_b.jpg)](http://www.flickr.com/photos/stilist/6204107389/)</figure>
<figure>[![](http://farm7.static.flickr.com/6158/6204625018_1dc0afb20a_b.jpg)](http://www.flickr.com/photos/stilist/6204625018/)</figure>
<figure>[![](http://farm7.static.flickr.com/6143/6204108253_05c976f298_b.jpg)](http://www.flickr.com/photos/stilist/6204108253/)</figure>
<figure>[![](http://farm7.static.flickr.com/6173/6204626154_d3a4b18d55_b.jpg)](http://www.flickr.com/photos/stilist/6204626154/)</figure>
<figure>[![](http://farm7.static.flickr.com/6134/6204626532_abd578d9fd_b.jpg)](http://www.flickr.com/photos/stilist/6204626532/)</figure>
<figure>[![](http://farm7.static.flickr.com/6174/6204109823_914b77ba5a_b.jpg)](http://www.flickr.com/photos/stilist/6204109823/)</figure>
<figure>[![](http://farm7.static.flickr.com/6178/6204110237_aa8e42afca_b.jpg)](http://www.flickr.com/photos/stilist/6204110237/)</figure>
<figure>[![](http://farm7.static.flickr.com/6172/6204627868_e1feccc2ab_b.jpg)](http://www.flickr.com/photos/stilist/6204627868/)</figure>
<figure>[![](http://farm7.static.flickr.com/6163/6204628206_7a2a736a10_b.jpg)](http://www.flickr.com/photos/stilist/6204628206/)</figure>
<figure>[![](http://farm7.static.flickr.com/6028/6204628678_8ff590cecf_b.jpg)](http://www.flickr.com/photos/stilist/6204628678/)</figure>
<figure>[![](http://farm7.static.flickr.com/6170/6204629018_8b62022c9c_b.jpg)](http://www.flickr.com/photos/stilist/6204629018/)</figure>
<figure>[![](http://farm7.static.flickr.com/6165/6204629404_6966380ea7_b.jpg)](http://www.flickr.com/photos/stilist/6204629404/)</figure>
<figure>[![](http://farm7.static.flickr.com/6125/6204629904_7b1c9c4ce9_b.jpg)](http://www.flickr.com/photos/stilist/6204629904/)</figure>
<figure>[![](http://farm7.static.flickr.com/6147/6204113091_cdeb0822ba_b.jpg)](http://www.flickr.com/photos/stilist/6204113091/)</figure>
<figure>[![](http://farm7.static.flickr.com/6180/6204113715_df8190de0a_b.jpg)](http://www.flickr.com/photos/stilist/6204113715/)</figure>
<figure>[![](http://farm7.static.flickr.com/6011/6204631252_b293c544f5_b.jpg)](http://www.flickr.com/photos/stilist/6204631252/)</figure>
<figure>[![](http://farm7.static.flickr.com/6154/6204114529_939bde10e5_b.jpg)](http://www.flickr.com/photos/stilist/6204114529/)</figure>
<figure>[![](http://farm7.static.flickr.com/6122/6204115107_e52dff7eaa_b.jpg)](http://www.flickr.com/photos/stilist/6204115107/)</figure>
<figure>[![](http://farm7.static.flickr.com/6180/6204115807_29af1382d5_b.jpg)](http://www.flickr.com/photos/stilist/6204115807/)</figure>
<figure>[![](http://farm7.static.flickr.com/6159/6204633512_3e02240e70_b.jpg)](http://www.flickr.com/photos/stilist/6204633512/)</figure>
<figure>[![](http://farm7.static.flickr.com/6158/6204116949_6243be8e74_b.jpg)](http://www.flickr.com/photos/stilist/6204116949/)</figure>
<figure>[![](http://farm7.static.flickr.com/6155/6204634298_a357254c81_b.jpg)](http://www.flickr.com/photos/stilist/6204634298/)</figure>
<figure>[![](http://farm7.static.flickr.com/6125/6204634836_65db3e8913_b.jpg)](http://www.flickr.com/photos/stilist/6204634836/)</figure>
<figure>[![](http://farm7.static.flickr.com/6121/6204635256_48d0d14086_b.jpg)](http://www.flickr.com/photos/stilist/6204635256/)</figure>
<figure>[![](http://farm7.static.flickr.com/6168/6204118683_ea535b9bf6_b.jpg)](http://www.flickr.com/photos/stilist/6204118683/)</figure>
<figure>[![](http://farm7.static.flickr.com/6165/6204119087_bd23effa6b_b.jpg)](http://www.flickr.com/photos/stilist/6204119087/)</figure>
<figure>[![](http://farm7.static.flickr.com/6172/6204119497_a8dd677fba_b.jpg)](http://www.flickr.com/photos/stilist/6204119497/)</figure>
<figure>[![](http://farm7.static.flickr.com/6148/6204119943_d2f687eae0_b.jpg)](http://www.flickr.com/photos/stilist/6204119943/)</figure>
<figure>[![](http://farm7.static.flickr.com/6164/6204637260_718b1aa717_b.jpg)](http://www.flickr.com/photos/stilist/6204637260/)</figure>
<figure>[![](http://farm7.static.flickr.com/6170/6204637634_762eecf36d_b.jpg)](http://www.flickr.com/photos/stilist/6204637634/)</figure>
<figure>[![](http://farm7.static.flickr.com/6176/6204121033_fafce73d9b_b.jpg)](http://www.flickr.com/photos/stilist/6204121033/)</figure>
<figure>[![](http://farm7.static.flickr.com/6157/6204121389_34884616db_b.jpg)](http://www.flickr.com/photos/stilist/6204121389/)</figure>
<figure>[![](http://farm7.static.flickr.com/6157/6204121939_f5073b3186_b.jpg)](http://www.flickr.com/photos/stilist/6204121939/)</figure>
<figure>[![](http://farm7.static.flickr.com/6170/6204639658_e4ed95528d_b.jpg)](http://www.flickr.com/photos/stilist/6204639658/)</figure>
<figure>[![](http://farm7.static.flickr.com/6023/6204122991_a159a7417d_b.jpg)](http://www.flickr.com/photos/stilist/6204122991/)</figure>
<figure>[![](http://farm7.static.flickr.com/6177/6204123497_0493fa0834_b.jpg)](http://www.flickr.com/photos/stilist/6204123497/)</figure>
<figure>[![](http://farm7.static.flickr.com/6161/6204123907_b5c4dc9f7d_b.jpg)](http://www.flickr.com/photos/stilist/6204123907/)</figure>
<figure>[![](http://farm7.static.flickr.com/6150/6204641278_7591637547_b.jpg)](http://www.flickr.com/photos/stilist/6204641278/)</figure>
<figure>[![](http://farm7.static.flickr.com/6158/6204642540_be885e44e1_b.jpg)](http://www.flickr.com/photos/stilist/6204642540/)</figure>
<figure>[![](http://farm7.static.flickr.com/6138/6204125875_fcab034615_b.jpg)](http://www.flickr.com/photos/stilist/6204125875/)</figure>
<figure>[![](http://farm7.static.flickr.com/6139/6204126411_74c48c85e9_b.jpg)](http://www.flickr.com/photos/stilist/6204126411/)</figure>
<figure>[![](http://farm7.static.flickr.com/6023/6204643866_458ce8799f_b.jpg)](http://www.flickr.com/photos/stilist/6204643866/)</figure>
