.DS_Store
# Stuff I’m not interested in sharing
entries/drafts/
entries/02003/
entries/02004/
entries/02005/
entries/02006/
entries/02007/
entries/02008/January/
entries/02008/March/
entries/02008/April/06/
entries/02008/April/10/
entries/02008/April/13/
entries/02008/April/17/
entries/02008/April/18/
entries/02008/April/19/
entries/02008/April/20/
entries/02008/April/27/
entries/02008/May/
entries/02008/June/06/
entries/02008/June/21/
entries/02008/August/17/
entries/02008/October/
# Non-functional stuff
bookmarks/
engine/
images/
development/
themes/magazine/
themes/changingseasons/
