KEYWORDS: apesandandroids, cesariaevora, guy, music, ruffsqwad, thekills, thenewbeats, video
LICENSE: CC:BY-SA
PERMALINK: http://ratafia.info/post/368347282/music-videos
PUBLISHED: 02010-02-03T01:28:00-0500
TITLE: Music, videos
UPDATED: 02010-02-03T01:28:00-0500
--
[Guy][guyb] — ‘Groove Me’ ([<span class='album'>Guy</span>][guya])

 [guya]: http://en.wikipedia.org/wiki/Guy_(album)
 [guyb]: http://en.wikipedia.org/wiki/Guy_(band)

<object type='application/x-shockwave-flash'
    data='http://www.youtube-nocookie.com/v/PAu2bsV9CiQ'
    width='536px' height='423px'>
</object>

[The Newbeats][newbs] — ‘Bread and Butter’

 [newbs]: http://en.wikipedia.org/wiki/The_Newbeats

<object type='application/x-shockwave-flash'
    data='http://www.youtube-nocookie.com/v/8m1cP0ez_S8'
    width='536px' height='423px'>
</object>

[The Kills][kills] — ‘Cheap and Cheerful’ ([<span class='album'>Midnight Boom</span>][mboom])

 [kills]: http://en.wikipedia.org/wiki/The_Kills
 [mboom]: http://en.wikipedia.org/wiki/Midnight_Boom

<object type='application/x-shockwave-flash'
    data='http://www.youtube-nocookie.com/v/G6wUPCqwWI8'
    width='536px' height='423px'>
</object>

[Apes & Androids][apes] — ‘Golden Prize’ ([<span class='album'>Blood Moon</span>][bmoon])

 [apes]: http://en.wikipedia.org/wiki/Apes_&_Androids
 [bmoon]: http://en.wikipedia.org/wiki/Blood_Moon_(album)

<object type='application/x-shockwave-flash'
    data='http://www.youtube-nocookie.com/v/jyf7m5kKeKY'
    width='536px' height='423px'>
</object>

[Césaria Évora][cese] — ‘Cabo Verde’ ([<span class='album'>Mar Azul</span>][marazul])

 [cese]: http://en.wikipedia.org/wiki/Cesária_Évora
 [marazul]: http://en.wikipedia.org/wiki/Mar_Azul

<object type='application/x-shockwave-flash'
    data='http://www.youtube-nocookie.com/v/TJKF21vy6lY'
    width='536px' height='423px'>
</object>

[Ruff Sqwad][ruffs] — ‘Xtra’ ([<span class='album'>Guns & Roses <abbr>Vol.</abbr> 2</span>][grv2])

 [grv2]: http://www.ukrecordshop.com/item/ruff-sqwad-guns-roses-volume-2.html
 [ruffs]: http://www.myspace.com/ruffsqwad

<object type='application/x-shockwave-flash'
    data='http://www.youtube-nocookie.com/v/0d7NLvwNCZQ'
    width='536px' height='423px'>
</object>
