KEYWORDS: cinema, design, fiction, interface, minorityreport
LICENSE: CC:BY-SA
LINK: http://youtube.com/watch?v=NwVBzx0LMNQ
PERMALINK: http://ratafia.info/post/352011207/fictional-interfaces-minority-report
PUBLISHED: 02010-01-24T23:33:00-0500
TITLE: Fictional interfaces: Minority Report
UPDATED: 02010-01-24T23:33:00-0500
--
<object type='application/x-shockwave-flash'
    data='http://www.youtube-nocookie.com/v/NwVBzx0LMNQ'
    width='536px' height='423px'>
</object>

The obvious one.
