KEYWORDS: deadspace, design, fiction, games, interface
LICENSE: CC:BY-SA
LINK: http://youtube.com/watch?v=xLF0DjFF9yo
PERMALINK: http://ratafia.info/post/351873082/fictional-interfaces-dead-space
PUBLISHED: 02010-01-24T22:07:00-0500
TITLE: Fictional interfaces: Dead Space
UPDATED: 02010-01-24T22:07:00-0500
--
<object type='application/x-shockwave-flash'
    data='http://www.youtube-nocookie.com/v/xLF0DjFF9yo'
    width='536px' height='423px'>
</object>

