@charset "utf-8"; /* via John Gruber */

* {
 margin: 0;
 padding: 0;
}

html, body { background-color: #371d10; }
html {
 background-attachment: fixed;
 background-image: url('http://static.ratafia.info/ricardo/gradient.png');
 background-position: top left;
 background-repeat: repeat-x;
}
body {
 background: #371d10 url('http://static.ratafia.info/ricardo/branch.png') right 41px no-repeat;
 border-top: 10px solid #aa5a32;
 color: #ab8876;
 font: 10pt 'Trebuchet MS', Arial, sans-serif;
 line-height: 1.5em;
 margin: 0 auto;
 padding: 24px 0 26px 0;
 width: 750px;
}

a {
 border-bottom: 1px solid #c12d2d;
 color: #c12d2d;
 padding: 1px 1px 0 1px;
 text-decoration: none;
}
a:hover {
 background-color: #640a00;
 color: #ffa2a2;
}
abbr.smallcaps, strong {
 font-size: 0.8em;
 letter-spacing: 0.2em;
 text-transform: uppercase;
}
address, cite { font-style: normal; }
article, footer, header, nav, section { display: block; } /* html5 */
code {
 font-family: Monaco, monospace;
 font-size: 0.9em;
 line-height: 1.6em;
}
footer, .hentry {
 margin: 0 auto;
 width: 536px;
}
h1 {
 font-size: 18pt;
 font-weight: normal;
 line-height: 1.6em;
 margin: 70px 0 11px 0; 
}
h1 a {
 border: none;
 display: block;
 margin-left: -1px;
}
h1 code, h2 code { font-size: inherit; }
h1 + .copy > h2:first-child { margin-top: 0.9em; }
h2 {
 font-size: 1.1em;
 line-height: 1.6em;
 margin: 2.55em 0 1em 0;
}
hr {
 border: none;
 border-top: 1px solid #ab8876;
 margin: 29px auto 30px auto;
 width: 150px;
}
ins {
 background-color: rgba(171, 136, 118, .13); /* #ab8876 */
 text-decoration: none;
}
ins:before { content: '['; }
ins:after { content: ']'; }
q:before { content: open-quote; }
q:after { content: close-quote; }
q:lang(de), q:lang(deu) { quotes: "„" "“" "‚" "‘"; }
q:lang(en), q:lang(eng) { quotes: "‘" "’" "“" "”"; }
q:lang(en-GB) { quotes: "‘ " " ’" "“ " " ”"; }
q:lang(en-US) { quotes: "“" "”" "‘" "’"; }
q:lang(fr), q:lang(fra) { quotes: "« " " »"; }
q:lang(ru), q:lang(rus) { quotes: "«" "»" "„" "“"; }
strong { font-weight: normal; }

#nameplate {
 height: 118px;
 margin-bottom: 70px;
 position: relative;
}
#nameplate a {
 background: none bottom center no-repeat;
 border-bottom: none;
 display: block;
 height: 27px;
 position: absolute;
 text-indent: -1000em;
}
#nameplate ul { list-style: none; }
#nameplate #logo {
 background-image: url('http://static.ratafia.info/ricardo/logo.png');
 height: 77px;
 width: 750px;
}
#nameplate #archives {
 background-image: url('http://static.ratafia.info/ricardo/archives.png');
 bottom: 0;
 left: 237px;
 width: 114px;
}
#nameplate #code {
 background-image: url('http://static.ratafia.info/ricardo/code.png');
 bottom: 0;
 left: 366px;
 width: 63px;
}
#nameplate #links {
 background-image: url('http://static.ratafia.info/ricardo/links.png');
 bottom: 0;
 right: 237px;
 width: 67px;
}

.hentry {
 margin-bottom: 1em;
 margin-top: 1em;
}
.hentry blockquote { margin: 0 2em; }
.hentry ol, .hentry p, .hentry ul { margin: 1.55em 0; }
.hentry .entry-content > p:first-child,
.hentry .entry-content > blockquote:first-child > p:first-child {
 margin-top: 9px;
}
.hentry .keywords, .hentry .keywords li { display: inline; }
.hentry .keywords { list-style: none; }
.hentry .keywords li { margin-left: 0.5em; }
.hentry .meta {
 font-size: .9em;
 text-align: right;
}
.hentry .meta ul, .hentry .meta p { margin: .5em 0; }

.album, .book, .film, .game, .magazine, .newspaper, .programme {
 font-style: italic;
}

#nextprev {
 height: 1em;
 margin: 4.5em auto;
 position: relative;
}
#nextprev span {
 display: block;
 position: absolute;
 width: 49%;
}
#nextprev #nextpage { right: 0; }
#nextprev #prevpage { text-align: right; }

footer { margin-top: 5.05em; }

/* disqus */
#disqus_thread {
 margin: 66px auto 50px auto;
 width: 536px;
}
#disqus_thread #dsq-add-new-comment {
 font-size: 1.1em;
 line-height: 1.6em;
 margin: 3em 0 1em 0;
}
#disqus_thread .dsq-by a {
 background: transparent;
 border: none;
}
#disqus_thread #dsq-content { font-size: inherit !important; }
