@charset "utf-8"; /* via John Gruber */

* {
 margin: 0;
 padding: 0;
}

html, body {
 background-color: #371d10;
}
html {
 background-attachment: fixed;
 background-image: url('http://img.photobucket.com/albums/v240/stilist/Tumblr%20interface/ricardogradient.png');
 background-position: top left;
 background-repeat: repeat-x;
}
body {
 background: #371d10;
 border-top: 10px solid #aa5a32;
 color: #ab8876;
 font: 10pt 'Trebuchet MS', Arial, sans-serif;
 line-height: 1.5em;
 margin: 0 auto;
 padding: 24px 0 26px 0;
 width: 750px;
}

a {
 border-bottom: 1px solid #c12d2d;
 color: #c12d2d;
 padding: 1px 1px 0 1px;
 text-decoration: none;
}
a:hover {
 background-color: #640a00;
 color: #ffa2a2;
}
abbr.smallcaps {
 font-size: .9em;
 text-transform: uppercase;
}
blockquote {
 margin: 0 2em;
}
cite {
 font-style: normal;
}
code {
 font-family: Monaco, monospace;
 font-size: 8pt;
 line-height: 1.6em;
}
h1 {
 font-size: 1.55em;
 font-weight: normal;
 line-height: 1.5em;
 margin: 64px 0 0 0; 
}
h1 a {
 border: none;
 display: block;
 margin-left: -1px;
}
h1 + .copy > h2:first-child {
 margin-top: 0.9em;
}
h2 {
 font-size: 1.1em;
 line-height: 1.6em;
 margin: 3em 0 1em 0;
}
ins {
 background-color: rgba(171, 136, 118, .15); /* #ab8876 */
 text-decoration: none;
}
ins:before {
 content: '[';
}
ins:after {
 content: ']';
}
strong {
 font-size: .9em;
 font-weight: normal;
 letter-spacing: .1em;
 text-transform: uppercase;
}

#nameplate {
 height: 113px;
 list-style: none;
 position: relative;
}
#nameplate a {
 background: none bottom center no-repeat;
 border-bottom: none;
 display: block;
 position: absolute;
 text-indent: -1000em;
}
#nameplate #logo {
 background-image: url('http://img.photobucket.com/albums/v240/stilist/Tumblr%20interface/ricardologo.png');
 height: 67px;
 width: 750px;
}
#nameplate #archives {
 background-image: url('http://img.photobucket.com/albums/v240/stilist/Tumblr%20interface/ricardoarchives.png');
 bottom: 0;
 height: 27px;
 left: 252px;
 width: 114px;
}
#nameplate #links {
 background-image: url('http://img.photobucket.com/albums/v240/stilist/Tumblr%20interface/ricardolinks.png');
 bottom: 0;
 height: 27px;
 right: 299px;
 width: 67px;
}

.entry, #footer {
 margin: 0 auto;
 width: 536px;
}
.entry p {
 margin: 1em 0;
}
.entry .copy > p:first-child {
 margin-top: 9px;
}
.entry .signoff {
 font-size: .9em;
 text-align: right;
}

.album, .book, .film, .game, .magazine, .newspaper, .programme {
 font-style: italic;
}

#nextprev {
 height: 1em;
 margin: 4em;
 position: relative;
}
#nextprev span {
 display: block;
 position: absolute;
 width: 49%;
}
#nextprev #nextpage {
 right: 0;
}
#nextprev #prevpage {
 text-align: right;
}

#footer {
 margin-top: 4em;
}

/* disqus */
#disqus_thread {
 margin: 66px auto 50px auto;
 width: 536px;
}
#disqus_thread #dsq-add-new-comment {
 font-size: 1.1em;
 line-height: 1.6em;
 margin: 3em 0 1em 0;
}
#disqus_thread .dsq-by a {
 background: transparent;
 border: none;
}
#disqus_thread #dsq-content {
 font-size: inherit !important;
}

/* hide Tumblr’s reblog bar */
iframe#tumblr_controls { display: none; }
