* {
 margin: 0;
 padding: 0;
}

body {
 background: #371d10;
 border-bottom: 10px solid #aa5a32;
 border-top: 10px solid #aa5a32;
 color: #ab8876;
 font: 8pt 'Trebuchet MS', Arial, sans-serif;
 line-height: 1.8em;
 margin: 0 auto;
 padding: 15px 0;
 width: 800px;
}

a {
 border-bottom: 1px solid #c12d2d;
 color: #c12d2d;
 text-decoration: none;
}
a:hover {
 background-color: #640a00;
 color: #ffa2a2;
}
abbr.smallcaps {
 font-size: .8em;
 text-transform: uppercase;
}
blockquote {
 border-left: 2px solid #aa5a32;
}
code {
 font-family: Monaco, monospace;
 font-size: 8pt;
 line-height: 1.6em;
}

#nameplate {
 height: 100px;
 margin-bottom: 36px;
}
#nameplate a {
 background-position: bottom right;
 background-repeat: no-repeat;
 display: block;
 position: absolute;
 text-indent: -1000em;
}
#nameplate #logo {
 background-image: url('http://img.photobucket.com/albums/v240/stilist/Tumblr%20interface/ricardologo.png');
 height: 67px;
 width: 536px;
}
#nameplate #archives {
 background-image: url('http://img.photobucket.com/albums/v240/stilist/Tumblr%20interface/ricardoarchives.png');
 height: 27px;
 width: 114px;
}
#nameplate #links {
 background-image: url('http://img.photobucket.com/albums/v240/stilist/Tumblr%20interface/ricardolinks.png');
 height: 27px;
 width: 67px;
}

#footer {
}

/* 500/300 */