KEYWORDS: music, thestranglers
LICENSE: CC:BY-SA
PERMALINK: http://ratafia.info/post/779666115/the-stranglers-waiting-for-the-meninblack
PUBLISHED: 02010-07-06T21:31:00-0800
TITLE: The Stranglers — ‘Waiting for the Meninblack’
UPDATED: Jul 6th, 2010 9:31pm
--
<object type='application/x-shockwave-flash'
    data='http://www.youtube-nocookie.com/v/eTEx0GGkoek'
    width='536px' height='427px'>
</object>

See also: [‘Waltzinblack’][waltz]; [<span class='album'>The Gospel According
to the Meninblack</span>][album].

 [album]: http://en.wikipedia.org/wiki/The_Gospel_According_to_the_Meninblack "Wikipedia article for The Gospel According to the Meninblack"
 [waltz]: http://youtube.com/watch?v=v2kYmFG1qIA
