BOOKMARK: http://delicious.com/url/6fc368b1a92248ad79273c7455664451
KEYWORDS: architecture, culture, russelldavies
LICENSE: CC:BY-SA
LINK: http://russelldavies.typepad.com/planning/2009/01/building-sights.html
PERMALINK: http://ratafia.info/post/70923665/building-sights
PUBLISHED: 02009-01-16T10:37:00-0500
TITLE: ‘Building Sights’
UPDATED: 02009-01-16T10:37:00-0500
--
<span class='person'>Russell Davies</span>:

> The shame that always strikes me though is what a waste this flat bit of
> nothingness is. Couldn’t there be something better that could be done with it
> while the real estate people wait for the economy to get stupid again? It’d
> make a brilliant little park if you could quickly turf it over. Or stick some
> temporary astroturf on it or something. Someone needs to invent some sort of
> Temporary Playful Zone technology that can be deployed over bricks and
> rubble.
