KEYWORDS: music, joedassin, video
LICENSE: CC:BY-SA
PERMALINK: http://ratafia.info/post/788340302/joe-dassin-les-champs-elysees
PUBLISHED: 02010-07-08T22:53:00-0800
TITLE: Joe Dassin — « Les Champs-Élysées »
UPDATED: 02010-07-08T22:53:00-0800
--
<object type='application/x-shockwave-flash'
    data='http://www.youtube-nocookie.com/v/INMg9L4DDeE'
    width='536px' height='427px'>
</object>

Recently rewatched <span class='film'>The Darjeeling Limited</span>.
