KEYWORDS: music, narsha, video
LICENSE: CC:BY-SA
PERMALINK: http://ratafia.info/post/1101165432/narsha-bbi-ri-bop-a
PUBLISHED: 02010-09-10T22:37:00-0800
TITLE: Narsha — ‘삐리빠빠 (BBI RI BOP A)’
UPDATED: 02010-09-10T22:37:00-0800
--
<object type='application/x-shockwave-flash'
    data='http://www.youtube-nocookie.com/v/r8xR6HjW-NQ'
    width='536px' height='326px'>
</object>
