KEYWORDS: television
LICENSE: CC:BY-NC
PERMALINK: http://ratafia.info/post/164135556/why-is-nonsense-like-this-still-happening
PUBLISHED: 02009-08-16T08:56:00-0400
TITLE: Why is nonsense like this still happening?
UPDATED: 02009-08-16T08:56:00-0400
--
As [previously noted][tv], I had been watching
<span class='programme'>Castle</span> reruns on
<abbr class='smallcaps'>TV</abbr>. This was going well until
<abbr class='organization smallcaps'>ABC</abbr> simply decided to stop after
six of ten episodes. I had previously seen episode seven, but this still left
me with episodes eight through ten. ‘Aha!’, I thought — ‘thanks to the magic of
the internet I can simply watch this online!’. Turns out that both Hulu and
<abbr class='smallcaps'>ABC</abbr>’s own player only offer episodes 1–6 and
episode nine.

 [tv]: http://ratafia.info/post/147293529/television-summer-02009 "‘Television, Summer 02009’"

Is it any wonder people pirate <abbr class='smallcaps'>TV</abbr>?
