KEYWORDS: design, design-a-day
LICENSE: CC:BY-SA
PERMALINK: http://ratafia.info/post/94378934/design-a-day-14
PUBLISHED: 02009-04-08T22:29:00-0400
TITLE: Design-a-day #14
UPDATED: 02009-04-08T22:29:00-0400
--
[![Preview of design #14][img]][fl]

 [fl]: http://flickr.com/photos/stilist/3424696511/
 [img]: http://farm4.static.flickr.com/3592/3424696511_8900a65dbb.jpg

([wireframe][wf], [screencast][sc]; <abbr class='smallcaps'>PSD</abbr> by
request)

 [sc]: http://flickr.com/photos/stilist/3424858207/
 [wf]: http://flickr.com/photos/stilist/3424696505/

Feelin’ the 50s today.
