KEYWORDS: art, documentary, graffiti, portlandor, video
LICENSE: CC:BY-SA
PERMALINK: http://ratafia.info/post/1012862521/the-subconscious-art-of-graffiti-removal
PUBLISHED: 02010-08-25T22:38:00-0800
TITLE: The Subconscious Art of Graffiti Removal
UPDATED: 02010-08-25T22:38:00-0800
--
<object type='application/x-shockwave-flash'
    data='http://www.youtube-nocookie.com/v/I064sA-5xFU'
    width='536px' height='427px'>
</object>
