KEYWORDS: charleseames, polaroid, rayeames, sx-70, video
LICENSE: CC:BY-SA
LINK: http://youtube.com/watch?v=4EdwmaQltHc
PERMALINK: http://ratafia.info/post/345014499/polaroid-sx-70-promotional-video
PUBLISHED: 02010-01-20T19:05:00-0500
TITLE: Polaroid SX-70 promotional video
UPDATED: 02010-01-20T19:21:00-0500
--
<object type='application/x-shockwave-flash'
    data='http://www.youtube-nocookie.com/v/4EdwmaQltHc'
    width='536px' height='423px'>
</object>

Produced by [<span class='person' title='Charles Eames'>Charles</span> and
<span class='person'>Ray Eames</span>][eames] for
<span class='company'>Polaroid</span> in 01972.

 [eames]: http://en.wikipedia.org/wiki/Charles_and_Ray_Eames

> You can look at technology as a living tree, a trunk bearing branches, the branches leafing out. Or you can see it as a net, knots tying up threads from many sides. But the human reality is more intricate than either one.
>
> We have been looking at one invention which began pretty purely out of the conception of a need — the hope to change the person who takes pictures from a harried off-stage observer into someone who is a natural part of the event. No single thread wove this invention. Not lens; not moving mirror; not film chemistry; not clever circuits. They are coordinate: parts of a single strategy working together to protect and fulfill the original hope. This invention is finally a system. Call it a system of novelties.
>
> But even that is not enough. The camera enters the real world only once it is precisely manufactured in quantity. That process, too, reflects a civilized concern. It has its visual beauty. It rewards skill and care with immediate feedback. In the end it links the inventors, the engineers, the workers, the distributors into one chain of craftsmanship.
>
> The user is the final link. The device helps meet the universal need to do things well. It offers as a matter of course a tool for supplying a rich texture to memory. More than that, thoughtful use can help reveal meaning in the flood of images which makes up so much of human life.
>
> We hope the user will fully complete the chain, gaining as much fun, as much sense of self, and as clear participation in the stream of human creativity as did Edwin Land and the team who first made SX-70.
