KEYWORDS: pdx, photography
LICENSE: CC:BY-SA
PERMALINK: http://ratafia.info/post/11574826803/this-week-9-october-02011
PUBLISHED: 02011-10-17T10:02:00-0700
TITLE: This week, 9 October 02011
UPDATED: 02011-10-17T10:02:00-0700
--
<figure>[![](http://farm7.static.flickr.com/6178/6252827930_af038a1fd1_b.jpg)](http://www.flickr.com/photos/stilist/6252827930/)</figure>
<figure>[![](http://farm7.static.flickr.com/6112/6252828144_33c79062fb_b.jpg)](http://www.flickr.com/photos/stilist/6252828144/)</figure>
<figure>[![](http://farm7.static.flickr.com/6212/6252297329_29b7328e2e_b.jpg)](http://www.flickr.com/photos/stilist/6252297329/)</figure>
<figure>[![](http://farm7.static.flickr.com/6117/6252828608_cb0a5d80a6_b.jpg)](http://www.flickr.com/photos/stilist/6252828608/)</figure>
<figure>[![](http://farm7.static.flickr.com/6035/6252828826_2cc7420f47_b.jpg)](http://www.flickr.com/photos/stilist/6252828826/)</figure>
<figure>[![](http://farm7.static.flickr.com/6218/6252298049_5e9d139104_b.jpg)](http://www.flickr.com/photos/stilist/6252298049/)</figure>
<figure>[![](http://farm7.static.flickr.com/6161/6252298265_e38db39fc2_b.jpg)](http://www.flickr.com/photos/stilist/6252298265/)</figure>
<figure>[![](http://farm7.static.flickr.com/6055/6252298509_5680cc878c_b.jpg)](http://www.flickr.com/photos/stilist/6252298509/)</figure>
<figure>[![](http://farm7.static.flickr.com/6033/6252298807_80a30454e7_b.jpg)](http://www.flickr.com/photos/stilist/6252298807/)</figure>
<figure>[![](http://farm7.static.flickr.com/6235/6252830038_62f3f8fb15_b.jpg)](http://www.flickr.com/photos/stilist/6252830038/)</figure>
<figure>[![](http://farm7.static.flickr.com/6039/6252830414_c0e0b0eec2_b.jpg)](http://www.flickr.com/photos/stilist/6252830414/)</figure>
<figure>[![](http://farm7.static.flickr.com/6212/6252299671_123442d3e0_b.jpg)](http://www.flickr.com/photos/stilist/6252299671/)</figure>
<figure>[![](http://farm7.static.flickr.com/6161/6252830958_516d458e67_b.jpg)](http://www.flickr.com/photos/stilist/6252830958/)</figure>
<figure>[![](http://farm7.static.flickr.com/6096/6252831234_cf6d329a24_b.jpg)](http://www.flickr.com/photos/stilist/6252831234/)</figure>
<figure>[![](http://farm7.static.flickr.com/6104/6252300509_7535f762aa_b.jpg)](http://www.flickr.com/photos/stilist/6252300509/)</figure>
<figure>[![](http://farm7.static.flickr.com/6105/6252831762_6421339c83_b.jpg)](http://www.flickr.com/photos/stilist/6252831762/)</figure>
<figure>[![](http://farm7.static.flickr.com/6220/6252300983_c2f330c6b8_b.jpg)](http://www.flickr.com/photos/stilist/6252300983/)</figure>
<figure>[![](http://farm7.static.flickr.com/6060/6252301259_61ef9fe5f7_b.jpg)](http://www.flickr.com/photos/stilist/6252301259/)</figure>
<figure>[![](http://farm7.static.flickr.com/6211/6252832478_9133fc951d_b.jpg)](http://www.flickr.com/photos/stilist/6252832478/)</figure>
<figure>[![](http://farm7.static.flickr.com/6101/6252301751_c5817d6826_b.jpg)](http://www.flickr.com/photos/stilist/6252301751/)</figure>
<figure>[![](http://farm7.static.flickr.com/6169/6252302033_c0cd9591f0_b.jpg)](http://www.flickr.com/photos/stilist/6252302033/)</figure>
<figure>[![](http://farm7.static.flickr.com/6230/6252302313_de67e6e8ab_b.jpg)](http://www.flickr.com/photos/stilist/6252302313/)</figure>
<figure>[![](http://farm7.static.flickr.com/6052/6252302533_bfda8af2e1_b.jpg)](http://www.flickr.com/photos/stilist/6252302533/)</figure>
<figure>[![](http://farm7.static.flickr.com/6054/6252302769_f8f27e1d26_b.jpg)](http://www.flickr.com/photos/stilist/6252302769/)</figure>
<figure>[![](http://farm7.static.flickr.com/6036/6252834034_306bc80432_b.jpg)](http://www.flickr.com/photos/stilist/6252834034/)</figure>
<figure>[![](http://farm7.static.flickr.com/6046/6252303325_d850b1e1f1_b.jpg)](http://www.flickr.com/photos/stilist/6252303325/)</figure>
<figure>[![](http://farm7.static.flickr.com/6174/6252303719_c499a9566f_b.jpg)](http://www.flickr.com/photos/stilist/6252303719/)</figure>
<figure>[![](http://farm7.static.flickr.com/6174/6252834926_247ba5bf55_b.jpg)](http://www.flickr.com/photos/stilist/6252834926/)</figure>
<figure>[![](http://farm7.static.flickr.com/6160/6252304169_9847fbdb87_b.jpg)](http://www.flickr.com/photos/stilist/6252304169/)</figure>
<figure>[![](http://farm7.static.flickr.com/6152/6252304405_c19b760313_b.jpg)](http://www.flickr.com/photos/stilist/6252304405/)</figure>
<figure>[![](http://farm7.static.flickr.com/6037/6252304757_2538391d82_b.jpg)](http://www.flickr.com/photos/stilist/6252304757/)</figure>
<figure>[![](http://farm7.static.flickr.com/6104/6252836040_120ecdb588_b.jpg)](http://www.flickr.com/photos/stilist/6252836040/)</figure>
<figure>[![](http://farm7.static.flickr.com/6216/6252836312_da366053a5_b.jpg)](http://www.flickr.com/photos/stilist/6252836312/)</figure>
<figure>[![](http://farm7.static.flickr.com/6059/6252305543_3732883ab5_b.jpg)](http://www.flickr.com/photos/stilist/6252305543/)</figure>
<figure>[![](http://farm7.static.flickr.com/6153/6252836848_90d8437dfe_b.jpg)](http://www.flickr.com/photos/stilist/6252836848/)</figure>
<figure>[![](http://farm7.static.flickr.com/6100/6252837062_c6f7414b6b_b.jpg)](http://www.flickr.com/photos/stilist/6252837062/)</figure>
<figure>[![](http://farm7.static.flickr.com/6059/6252306365_452842f245_b.jpg)](http://www.flickr.com/photos/stilist/6252306365/)</figure>
<figure>[![](http://farm7.static.flickr.com/6058/6252837694_9998420a56_b.jpg)](http://www.flickr.com/photos/stilist/6252837694/)</figure>
<figure>[![](http://farm7.static.flickr.com/6176/6252837918_a2332ee3f6_b.jpg)](http://www.flickr.com/photos/stilist/6252837918/)</figure>
<figure>[![](http://farm7.static.flickr.com/6036/6252838188_037a7c5e4f_b.jpg)](http://www.flickr.com/photos/stilist/6252838188/)</figure>
<figure>[![](http://farm7.static.flickr.com/6151/6252838600_1f387d8764_b.jpg)](http://www.flickr.com/photos/stilist/6252838600/)</figure>
<figure>[![](http://farm7.static.flickr.com/6035/6252838846_5e14a0ceaa_b.jpg)](http://www.flickr.com/photos/stilist/6252838846/)</figure>
<figure>[![](http://farm7.static.flickr.com/6180/6252308153_ef28e2f289_b.jpg)](http://www.flickr.com/photos/stilist/6252308153/)</figure>
<figure>[![](http://farm7.static.flickr.com/6171/6252839310_6bb9dfa9bd_b.jpg)](http://www.flickr.com/photos/stilist/6252839310/)</figure>
<figure>[![](http://farm7.static.flickr.com/6115/6252839562_ab5bfc37dd_b.jpg)](http://www.flickr.com/photos/stilist/6252839562/)</figure>
<figure>[![](http://farm7.static.flickr.com/6110/6252308911_92ae213280_b.jpg)](http://www.flickr.com/photos/stilist/6252308911/)</figure>
<figure>[![](http://farm7.static.flickr.com/6114/6252840170_a7ba5c8f71_b.jpg)](http://www.flickr.com/photos/stilist/6252840170/)</figure>
<figure>[![](http://farm7.static.flickr.com/6111/6252309467_1af0a0d64a_b.jpg)](http://www.flickr.com/photos/stilist/6252309467/)</figure>
<figure>[![](http://farm7.static.flickr.com/6040/6252309747_7f1fdc7cf0_b.jpg)](http://www.flickr.com/photos/stilist/6252309747/)</figure>
