KEYWORDS: meta
LICENSE: CC:BY-SA
PERMALINK: http://ratafia.info/post/70311325/hosting-troubles
PUBLISHED: 02009-01-13T19:56:00-0500
TITLE: Hosting troubles
UPDATED: 02009-01-13T19:56:00-0500
--
It appears that whatever server was hosting my
<abbr class='smallcaps'>CSS</abbr> file has decided to stop responding, so I’ve
temporarily put a whitespace-vacuumed version in the page header. Hopefully
this is only a temporary issue.

<ins>**Update:** Ten minutes later and it seems to have fixed itself. Who knows!</ins>
