KEYWORDS: ballet, igorstravinsky, vaslavnijinsky, video
LICENSE: CC:BY-SA
PERMALINK: http://ratafia.info/post/2510412675/the-rite-of-spring
PUBLISHED: 02010-12-29T01:26:00-0800
TITLE: The Rite of Spring
UPDATED: 02010-12-29T01:26:00-0800
--
<object type="application/x-shockwave-flash"
    data="http://www.youtube.com/v/bjX3oAwv_Fs"
    width="536px" height="427px">
</object>

<object type="application/x-shockwave-flash"
    data="http://www.youtube.com/v/vb8njeKBfqw"
    width="536px" height="427px">
</object>

<object type="application/x-shockwave-flash"
    data="http://www.youtube.com/v/mK64sTi4mKc"
    width="536px" height="427px">
</object>

> Although [<ins>Vaslav</ins> Nijinsky][nijinsky]’s choreography was poorly
> preserved, this choreography and <ins>Nicholas</ins> Roerich’s costuming and
> set design were reconstructed in <ins>0</ins>1987 by dance historian
> Millicent Hodson, art historian Kenneth Archer, and choreographer Robert
> Joffrey, for performance by the Joffrey Ballet.

— [Wikipedia][ballet]

 [nijinsky]: https://secure.wikimedia.org/wikipedia/en/wiki/Vaslav_Nijinsky
 [ballet]: https://secure.wikimedia.org/wikipedia/en/wiki/The_Rite_of_Spring#Reconstruction_of_ballet

The second-act segment (‘Mystic Circle of the Young Girls’?) with girls darting
ahead in the ring is captivating. It reminded me of the old book
covers — seemingly always for literature anthologies — that featured sparse
monochromatic line art. It’s there in the gaps, in the shapes, the motion, the
drama, the scale. Stripped, savage, and inescapable. It’s the spaces
in-between.

([via MetaFilter][mefi])

 [mefi]: http://www.metafilter.com/98994/Quiet-Riot
