KEYWORDS: aphextwin, music, steelpan, video
LICENSE: CC:BY-SA
PERMALINK: http://ratafia.info/post/818143122/aphex-twins-alberto-balsam-arranged-for-steelpans
PUBLISHED: 02010-07-15T22:15:00-0800
TITLE: Aphex Twin’s ‘Alberto Balsalm’ arranged for steelpans
UPDATED: 02010-07-15T22:15:00-0800
--
<object type='application/x-shockwave-flash'
    data='http://www.youtube-nocookie.com/v/2XlTjeNHv-8'
    width='536px' height='326px'>
</object>

(via [MetaFilter][mefi])

  [mefi]: http://www.metafilter.com/93790/Steely-James
