KEYWORDS: boneym, music, video
LICENSE: CC:BY-SA
PERMALINK: http://ratafia.info/post/792635538/boney-m-rasputin
PUBLISHED: Jul 9th, 2010 11:01pm
TITLE: Boney M. — ‘Rasputin’
UPDATED: 02010-07-09T23:01:00-0800
--
<object type='application/x-shockwave-flash'
    data='http://www.youtube-nocookie.com/v/kvDMlk3kSYg'
    width='536px' height='427px'>
</object>
