KEYWORDS: music, giorgiomoroder, video
LICENSE: CC:BY-SA
PERMALINK: http://ratafia.info/post/775701316/giorgio-moroder-from-here-to-eternity
PUBLISHED: 02010-07-05T22:50:00-0800
TITLE: Giorgio Moroder — ‘From Here to Eternity’
UPDATED: Jul 5th, 2010 10:50pm
--
<object type='application/x-shockwave-flash'
    data='http://www.youtube-nocookie.com/v/0OU7Hka_--U'
    width='536px' height='427px'>
</object>
