KEYWORDS: lindiharrison, murrayfredericks, timelapse, video
LICENSE: CC:BY-SA
PERMALINK: http://ratafia.info/post/6511976216/hector-thunderstorm-project
PUBLISHED: 02011-06-13T21:14:00-0700
TITLE: Hector Thunderstorm Project
UPDATED: 02011-06-13T21:14:00-0700
--
<iframe src="http://player.vimeo.com/video/24134885" width="536" height="302"
frameborder="0"></iframe>

Like a Romantic painting in motion.
