KEYWORDS: adium, design, import:tumblr
LICENSE: CC:BY-SA
PERMALINK: http://ratafia.info/post/31961887/paraphernalia-update-released
PUBLISHED: 02008-04-16T13:55:00-0400
TITLE: ‘Paraphernalia’ update released
UPDATED: 02008-04-16T13:55:00-0400
--
I’ve just pushed out [version 1.1][paraphernalia] of my [Adium][adium] message
style.

   [paraphernalia]: http://adiumxtras.com/index.php?a=xtras&xtra_id=5493 "‘Paraphernalia’ listing at Adium Xtras"
   [adium]: http://adiumx.com/ "Adium home page"

## Changelist

* Margin above the first message, so it doesn’t look like it’s stuck to the
window’s title bar.
* Long usernames are cut off if they don’t fit.
* Two new background images.
