KEYWORDS: curtisyoungblood, flight, rc
LICENSE: CC:BY-SA
PERMALINK: http://ratafia.info/post/550205113/curtis-youngblood
PUBLISHED: 02010-04-26T00:02:00-0800
TITLE: Curtis Youngblood
UPDATED: 02010-04-26T00:02:00-0800
--
<object type='application/x-shockwave-flash'
    data='http://www.youtube-nocookie.com/v/b3qqmEOQYBE'
    width='536px' height='322px'>
</object>

(via [MetaFilter][mefi])

 [mefi]: http://www.metafilter.com/91369/RC-Helicopters-Do-Amazing-Things "RC Helicopters Do Amazing Things"
