BOOKMARK: http://pinboard.in/url:1c3dcae80b81c1509afad016bb81f4898abfff58
KEYWORDS: activitystream, design, fiction, interface, iphone, lifestream
LICENSE: CC:BY-SA
LINK: http://www.teehanlax.com/blog/2009/09/22/iphone-needs-a-new-home/
PERMALINK: http://ratafia.info/post/352073478/fictional-interface-iphone-home-screen
PUBLISHED: 02010-01-25T00:13:00-0500
TITLE: Fictional interface: iPhone home screen
UPDATED: 02010-01-25T00:13:00-0500
--
![](http://i50.tinypic.com/27zvw29.jpg)

Effectively a [lifestream][ls] on your phone.

 [ls]: http://ratafia.info/tagged/lifestream "See all ‘lifestream’ entries"
