KEYWORDS: berg, bonnier, design, interface, mag+, magazine
LICENSE: CC:BY-SA
LINK: http://vimeo.com/8217311
PERMALINK: http://ratafia.info/post/352081905/fictional-interface-mag
PUBLISHED: 02010-01-25T00:19:00-500
TITLE: Fictional interface: Mag+
UPDATED: 02010-01-25T00:22:00-500
--
<object type='application/x-shockwave-flash'
    data='http://vimeo.com/moogaloop.swf?clip_id=8217311'
    width='536px' height='423px'>
</object>

[Hi-res captures](http://flickr.com/photos/bonnier_rd/sets/72157622918954909/).
