KEYWORDS: christinaaguilera, depechemode, ericxodik, girlsgeneration, howtodestroyangels, inxs, ironandwine, jamesbrown, klippa, m.ward, music, newkidsontheblock, paulsimon, refused, tallyhall, thecars, therunaways, video, yellowmagicorchestra, zolajesus
LICENSE: CC:BY-SA
PERMALINK: http://ratafia.info/post/738928137/music-videos
PUBLISHED: 02010-06-26T10:40-0800
TITLE: Music, Videos
UPDATED: 02010-06-26T10:40-0800
--
Klippa — ‘Space Dog’

<object type='application/x-shockwave-flash'
    data='http://www.youtube-nocookie.com/v/Lx9BNWbZknk'
    width='536px' height='430px'>
</object>

Eric Xodik — ‘Ix’

<object type='application/x-shockwave-flash'
    data='http://www.youtube-nocookie.com/v/GknndFPH3kM'
    width='536px' height='430px'>
</object>

[Refused][refused] — ‘New Noise’ ([<span class='album'>The Shape of Punk to Come</span>][tsoptc])

 [refused]: http://en.wikipedia.org/wiki/Refused "Wikipedia article for Refused"
 [tsoptc]: http://en.wikipedia.org/wiki/The_Shape_of_Punk_to_Come "Wikipedia article for The Shape of Punk to Come"

<object type='application/x-shockwave-flash'
    data='http://www.youtube-nocookie.com/v/m3AoiVMQqX4'
    width='536px' height='430px'>
</object>

Refused — ‘Rather be Dead’ ([<span class='album'>Songs to Fan the Flames of Discontent</span>][stftfod])

 [stftfod]: http://en.wikipedia.org/wiki/Songs_to_Fan_the_Flames_of_Discontent "Wikipedia article for Songs to Fan the Flames of Discontent"

<object type='application/x-shockwave-flash'
    data='http://www.youtube-nocookie.com/v/EhjCzK2mNlc'
    width='536px' height='430px'>
</object>

[Paul Simon][paulsimon] — ‘You Can Call Me Al’ ([<span class='album'>Graceland</span>][graceland])

 [graceland]: http://en.wikipedia.org/wiki/Graceland_(album) "Wikipedia article for Graceland"
 [paulsimon]: http://en.wikipedia.org/wiki/Paul_Simon "Wikipedia article for Paul Simon"

<object type='application/x-shockwave-flash'
    data='http://www.youtube-nocookie.com/v/ULjCSK0oOlI'
    width='536px' height='430px'>
</object>

[Christina Aguilera][aguilera] — ‘Ain’t No Other Man’ ([<span class='album'>Back to Basics</span>][b2b])

 [aguilera]: http://en.wikipedia.org/wiki/Christina_Aguilera "Wikipedia article for Christina Aguilera"
 [b2b]: http://en.wikipedia.org/wiki/Back_to_Basics_(Christina_Aguilera_album) "Wikipedia article for Back to Basics"

<object type='application/x-shockwave-flash'
    data='http://www.youtube-nocookie.com/v/x7Ta89QLo4'
    width='536px' height='322px'>
</object>

[Iron & Wine][ironwine] — ‘Boy with a Coin’ ([<span class='album'>The Shepherd’s Dog</span>][shepherdsdog])

 [ironwine]: http://en.wikipedia.org/wiki/Iron_%26_Wine "Wikipedia article for Iron & Wine"
 [shepherdsdog]: http://en.wikipedia.org/wiki/The_Shepherd%27s_Dog "Wikipedia article for The Shepherd’s Dog"

<object type='application/x-shockwave-flash'
    data='http://www.youtube-nocookie.com/v/G_1Zz9ud83I'
    width='536px' height='430px'>
</object>

[M. Ward][mward] — ‘Requiem’ ([<span class='album'>Post-War</span>][post-war])

 [mward]: http://en.wikipedia.org/wiki/M._Ward "Wikipedia article for M. Ward"
 [post-war]: http://en.wikipedia.org/wiki/Post-War "Wikipedia article for Post-War"

<object type='application/x-shockwave-flash'
    data='http://www.youtube-nocookie.com/v/G_1Zz9ud83I'
    width='536px' height='430px'>
</object>

[Zola Jesus][zolajesus] — ‘Night’ ([<span class='album'>Stridulum</span> <abbr class='smallcaps'>EP</abbr>][stridulum])

 [stridulum]: http://en.wikipedia.org/wiki/Stridulum_EP "Wikipedia article for Stridulum EP"
 [zolajesus]: http://en.wikipedia.org/wiki/Zola_Jesus "Wikipedia article for Zola Jesus"

<object type='application/x-shockwave-flash'
    data='http://www.youtube-nocookie.com/v/vM8fEP8FOqE'
    width='536px' height='322px'>
</object>

[How to Destroy Angels][htda] — ‘The Space Between’ ([<span class='album'>How to Destroy Angels</span>][htdaa])

 [htda]: http://en.wikipedia.org/wiki/How_to_Destroy_Angels_(band) "Wikipedia article for How to Destroy Angels"
 [htdaa]: http://en.wikipedia.org/wiki/How_to_Destroy_Angels_(album) "Wikipedia article for How to Destroy Angels (album)"

<object type='application/x-shockwave-flash'
    data='http://www.youtube-nocookie.com/v/nWbfgGDl6XE'
    width='536px' height='322px'>
</object>

[Yellow Magic Orchestra][ymo] — ‘Rydeen’ (<span class='album'>Solid State Survivor</span>)

 [sss]: http://en.wikipedia.org/wiki/Solid_State_Survivor "Wikipedia article for Solid State Survivor"
 [ymo]: http://en.wikipedia.org/wiki/Yellow_Magic_Orchestra "Wikipedia article for Yellow Magic Orchestra"

<object type='application/x-shockwave-flash'
    data='http://www.youtube-nocookie.com/v/sk6o4GWFIV8'
    width='536px' height='430px'>
</object>

Yellow Magic Orchestra — ‘Technopolis’ (<span class='album'>Solid State Survivor</span>)

<object type='application/x-shockwave-flash'
    data='http://www.youtube-nocookie.com/v/7OOLxGjb3dY'
    width='536px' height='430px'>
</object>

[The Cars][thecars] — ‘Shake It Up’ ([<span class='album'>Shake It Up</span>][shakeitup])

 [shakeitup]: http://en.wikipedia.org/wiki/Shake_It_Up "Wikipedia article for Shake It Up"
 [thecars]: http://en.wikipedia.org/wiki/The_Cars "Wikipedia article for The Cars"

<object type='application/x-shockwave-flash'
    data='http://www.youtube-nocookie.com/v/eq-yoorI7lo'
    width='536px' height='430px'>
</object>

[Depeche Mode][depechemode] — ‘Enjoy the Silence’ ([<span class='album'>Violator</span>][violator])

 [depechemode]: http://en.wikipedia.org/wiki/Depeche_Mode "Wikipedia article for Depeche Mode"
 [violator]: http://en.wikipedia.org/wiki/Violator_(album) "Wikipedia article for Violator"

<object type='application/x-shockwave-flash'
    data='http://www.youtube-nocookie.com/v/1rdfFroO67g'
    width='536px' height='430px'>
</object>

[INXS][inxs] — ‘Need You Tonight’ ([<span class='album'>Kick</span>][kick])

 [inxs]: http://en.wikipedia.org/wiki/INXS "Wikipedia article for INXS"
 [kick]: http://en.wikipedia.org/wiki/Kick_(album) "Wikipedia article for Kick"

<object type='application/x-shockwave-flash'
    data='http://www.youtube-nocookie.com/v/gkLL7JdnIk0'
    width='536px' height='430px'>
</object>

[James Brown][jamesbrown] — ‘Gravity’ (<span class='album'>Gravity</span>)

 [jamesbrown]: http://en.wikipedia.org/wiki/James_Brown "Wikipedia article for James Brown"

<object type='application/x-shockwave-flash'
    data='http://www.youtube-nocookie.com/v/9chJ3zHaGm8'
    width='536px' height='430px'>
</object>

[The Runaways][therunaways] — ‘Cherry Bomb’ (live) ([<span class='album'>The Runaways</span>][therunawaysa])

 [therunaways]: http://en.wikipedia.org/wiki/The_Runaways "Wikipedia article for The Runaways"
 [therunawaysa]: http://en.wikipedia.org/wiki/The_Runaways_(album) "Wikipedia article for The Runaways (album)"

<object type='application/x-shockwave-flash'
    data='http://www.youtube-nocookie.com/v/pMDn6V7ZLhE'
    width='536px' height='430px'>
</object>

[New Kids on the Block][nkotb] — ‘Step by Step’ ([<span class='album'>Step by Step</span>][stepbystep])

 [nkotb]: http://en.wikipedia.org/wiki/New_Kids_on_the_Block "Wikipedia article for New Kids on the Block"
 [stepbystep]: http://en.wikipedia.org/wiki/Step_by_Step_(New_Kids_on_the_Block_album) "Wikipedia article for Step by Step"

<object type='application/x-shockwave-flash'
    data='http://www.youtube-nocookie.com/v/ay6GjmiJTPM'
    width='536px' height='430px'>
</object>

[<span lang='ko'>소녀시대</span>][girlsgeneration] [Girls’ Generation/SNSD] — ‘Gee’ ([<span class='album'>Gee</span> <abbr class='smallcaps'>EP</abbr>][gee])

 [gee]: http://en.wikipedia.org/wiki/Gee_(Girls%27_Generation_song) "Wikipedia article for Gee EP"
 [girlsgeneration]: http://en.wikipedia.org/wiki/Girls%27_Generation "Wikipedia article for 소녀시대"

<object type='application/x-shockwave-flash'
    data='http://www.youtube-nocookie.com/v/U7mPqycQ0tQ'
    width='536px' height='430px'>
</object>

[Tally Hall][tallyhall] — ‘Ruler of Everything’ ([<span class='album'>Marvin’s Marvelous Mechanical Museum</span>][mmmm])

 [mmmm]: http://en.wikipedia.org/wiki/Marvin%27s_Marvelous_Mechanical_Museum_(album) "Wikipedia article for Marvin’s Marvelous Mechanical Museum"
 [tallyhall]: http://en.wikipedia.org/wiki/Tally_Hall_(band) "Wikipedia article for Tally Hall"

<object type='application/x-shockwave-flash'
    data='http://www.youtube-nocookie.com/v/I8sUC-dsW8A'
    width='536px' height='430px'>
</object>

Tally Hall — ‘Two Wuv’ (<span class='album'>Marvin’s Marvelous Mechanical Museum</span>)

<object type='application/x-shockwave-flash'
    data='http://www.youtube-nocookie.com/v/iQ54SA_wa68'
    width='536px' height='430px'>
</object>
