KEYWORDS: apple, finder, osx, snowleopard
LICENSE: CC:BY-SA
PERMALINK: http://flickr.com/photos/stilist/4244926829/
PUBLISHED: 02010-01-04T14:45:48-0500
TITLE: What happened here?
UPDATED: 02010-01-04T14:45:48-0500
--
