KEYWORDS: pdx, photography
LICENSE: CC:BY-SA
PERMALINK: http://ratafia.info/post/11317366446/this-week-2-october-02011
PUBLISHED: 02011-10-11T08:05:00-0700
TITLE: This week, 2 October 02011
UPDATED: 02011-10-11T08:05:00-0700
--
<figure>[![](http://farm7.static.flickr.com/6233/6233532672_d9cc8edded_b.jpg)](http://www.flickr.com/photos/stilist/6233532672/)</figure>
<figure>[![](http://farm7.static.flickr.com/6153/6233532960_16f515a7a0_b.jpg)](http://www.flickr.com/photos/stilist/6233532960/)</figure>
<figure>[![](http://farm7.static.flickr.com/6053/6233533160_fb06637a9c_b.jpg)](http://www.flickr.com/photos/stilist/6233533160/)</figure>
<figure>[![](http://farm7.static.flickr.com/6117/6233533358_4c245d24cb_b.jpg)](http://www.flickr.com/photos/stilist/6233533358/)</figure>
<figure>[![](http://farm7.static.flickr.com/6156/6233533570_bf63ce3dc3_b.jpg)](http://www.flickr.com/photos/stilist/6233533570/)</figure>
<figure>[![](http://farm7.static.flickr.com/6035/6233533766_883c512ba6_b.jpg)](http://www.flickr.com/photos/stilist/6233533766/)</figure>
<figure>[![](http://farm7.static.flickr.com/6235/6233014785_25e692d122_b.jpg)](http://www.flickr.com/photos/stilist/6233014785/)</figure>
<figure>[![](http://farm7.static.flickr.com/6230/6233534188_7118a5dea2_b.jpg)](http://www.flickr.com/photos/stilist/6233534188/)</figure>
<figure>[![](http://farm7.static.flickr.com/6237/6233534396_df73af4cf6_b.jpg)](http://www.flickr.com/photos/stilist/6233534396/)</figure>
<figure>[![](http://farm7.static.flickr.com/6157/6233015479_fd29e1946d_b.jpg)](http://www.flickr.com/photos/stilist/6233015479/)</figure>
<figure>[![](http://farm7.static.flickr.com/6110/6233534872_5c18cee996_b.jpg)](http://www.flickr.com/photos/stilist/6233534872/)</figure>
<figure>[![](http://farm7.static.flickr.com/6058/6233015957_984a6c5eb6_b.jpg)](http://www.flickr.com/photos/stilist/6233015957/)</figure>
<figure>[![](http://farm7.static.flickr.com/6155/6233016203_3ac92b935e_b.jpg)](http://www.flickr.com/photos/stilist/6233016203/)</figure>
<figure>[![](http://farm7.static.flickr.com/6229/6233016417_427f59aa11_b.jpg)](http://www.flickr.com/photos/stilist/6233016417/)</figure>
<figure>[![](http://farm7.static.flickr.com/6156/6233016611_3ee562dbe8_b.jpg)](http://www.flickr.com/photos/stilist/6233016611/)</figure>
