LICENSE: CC:BY-SA
KEYWORDS: skinning, wikipedia
PERMALINK: http://ratafia.info/post/49297529/high-contrast-wikipedia
PUBLISHED: 02008-09-08T15:02:00-0400
TITLE: High-contrast Wikipedia
UPDATED: 02008-09-08T15:02:00-0400
--
* [<abbr class='smallcaps'>CSS</abbr>][css]
* [Result][result]

 [css]: http://pastebin.com/f7164f4fb "CSS at pastebin.ca"
 [result]: http://flickr.com/photos/stilist/2840767774/ "Screenshot demonstrating effect of CSS"
