KEYWORDS: cinema, design, fiction, interface, quantumofsolace
LICENSE: CC:BY-SA
LINK: http://youtube.com/watch?v=05f7t5xeWlA
PERMALINK: http://ratafia.info/post/351901358/fictional-interfaces-quantum-of-solace
PUBLISHED: 02010-01-24T22:25:00-0500
TITLE: Fictional interfaces: Quantum of Solace
UPDATED: 02010-01-24T22:25:00-0500
--
<object type='application/x-shockwave-flash'
    data='http://www.youtube-nocookie.com/v/05f7t5xeWlA'
    width='536px' height='423px'>
</object>
