KEYWORDS: design, fiction, games, interface, r.u.s.e.
LICENSE: CC:BY-SA
LINK: http://youtube.com/watch?v=5ohNzHWL7FI
PERMALINK: http://ratafia.info/post/351893395/fictional-interfaces-r-u-s-e-trailer
PUBLISHED: 02010-01-24T22:20:00-0500
TITLE: Fictional interfaces: R.U.S.E. trailer
UPDATED: 02010-01-24T22:20:00-0500
--
<object type='application/x-shockwave-flash'
    data='http://www.youtube-nocookie.com/v/5ohNzHWL7FI'
    width='536px' height='423px'>
</object>
