KEYWORDS: bloomberg, design, fiction, ideo, interface
LICENSE: CC:BY-SA
LINK: http://www.portfolio.com/culture-lifestyle/goods/gadgets/2007/07/09/Bloomberg-Terminals-Design/
PERMALINK: http://ratafia.info/post/352045576/fictional-interfaces-redesigned-bloomberg-terminals
PUBLISHED: 02010-01-24T23:55:00-0500
TITLE: Fictional interfaces: redesigned Bloomberg terminals
UPDATED: 02010-01-24T23:55:00-0500
--
Of primary interest is [<span class='organization'>IDEO</span>’s
vision][ideo].

 [ideo]: http://www.ideo.com/work/item/bloomberg-terminal-concept/

[![](http://i48.tinypic.com/oumr2h.jpg)](http://i49.tinypic.com/2djew2.jpg)
