KEYWORDS: csi:miami, design, fiction, interface, television
LICENSE: CC:BY-SA
LINK: http://youtube.com/watch?v=wX_i2vhnVKQ
PERMALINK: http://ratafia.info/post/352017642/fictional-interfaces-csi-miami
PUBLISHED: 02010-01-24T23:37:00-0500
TITLE: Fictional interfaces: CSI: Miami
UPDATED: 02010-01-24T23:37:00-0500
--
<object type='application/x-shockwave-flash'
    data='http://www.youtube-nocookie.com/v/wX_i2vhnVKQ'
    width='536px' height='423px'>
</object>

