KEYWORDS: cinema, design, fiction, interface, ironman
LICENSE: CC:BY-SA
PERMALINK: http://ratafia.info/post/351999454/fictional-interfaces-iron-man
PUBLISHED: 02010-01-24T23:25:00-0500
TITLE: Fictional interfaces: Iron Man
UPDATED: 02010-01-24T23:25:00-0500
--
## Videos

<object type='application/x-shockwave-flash'
    data='http://www.youtube-nocookie.com/v/xujHshQqjMs'
    width='536px' height='423px'>
</object>

<object type='application/x-shockwave-flash'
    data='http://www.youtube-nocookie.com/v/rjfUNiNj4Ak'
    width='536px' height='423px'>
</object>

<object type='application/x-shockwave-flash'
    data='http://www.youtube-nocookie.com/v/oEzo9YWxPGE'
    width='536px' height='423px'>
</object>

<object type='application/x-shockwave-flash'
    data='http://www.youtube-nocookie.com/v/SGaLQrIBTiw'
    width='536px' height='423px'>
</object>

<object type='application/x-shockwave-flash'
    data='http://www.youtube-nocookie.com/v/_E7iJuRaDw4'
    width='536px' height='423px'>
</object>

<object type='application/x-shockwave-flash'
    data='http://www.youtube-nocookie.com/v/PcglbwmqPOc'
    width='536px' height='423px'>
</object>

## Interview

[Interview with <span class='person'>Kent Seki</span>][kseki] of
[<span class='organization'>Pixel Liberation Front</span>][plf], which
created various interfaces for the film.

 [kseki]: http://www.uiresourcecenter.com/user-interface-design/articles/inside-iron-man.html
 [plf]: http://www.thefront.com/

> Another thing that <ins>Jon</ins> Favreau was very keen on was this notion
> of the <abbr class='smallcaps'>HUD</abbr> being in a dialogue. Sometimes,
> Tony Stark is asking for information. He’s calling for it to come to him.
> Other times, it’s Jarvis saying, “What about this? Have you considered
> this?” So that plays back into Dav <ins>Rauch</ins>’s notion of the
> <abbr class='smallcaps'>HUD</abbr> being a character. That sentient portion
> of it is a character.
>
> …
>
> We agreed that nothing random would be in a shot. Everything should have a
> purpose. So if I asked the designer what a certain visual element is doing,
> it had to represent a function like pitch, or other information about his
> suit.
>
> When you can justify all the visual elements, then you know you’ve done
> your job because you don’t have to worry about anything being random. We
> took out all randomness and made sure we had a purpose to everything. That
> way, when we consciously decided to do something that is random, we knew we
> were doing it for a reason.

## Captures

[![](http://i46.tinypic.com/rc0r36.jpg)](http://i47.tinypic.com/szd3zb.jpg)
[![](http://i50.tinypic.com/fbkm68.jpg)](http://i47.tinypic.com/287hmh2.jpg)
[![](http://i45.tinypic.com/16tmvd.jpg)](http://i46.tinypic.com/2iu23ht.jpg)
[![](http://i49.tinypic.com/9r51y8.jpg)](http://i49.tinypic.com/v5biow.jpg)
[![](http://i49.tinypic.com/2ex7cr8.jpg)](http://i50.tinypic.com/v2wupv.jpg)
[![](http://i50.tinypic.com/2rgp2ll.jpg)](http://i49.tinypic.com/uxaf.jpg)
[![](http://i45.tinypic.com/205wh1w.jpg)](http://i49.tinypic.com/wteg0g.jpg)
[![](http://i46.tinypic.com/29m9ker.jpg)](http://i49.tinypic.com/wjjrrr.jpg)
[![](http://i50.tinypic.com/30wqanm.jpg)](http://i50.tinypic.com/juyhcw.jpg)
[![](http://i49.tinypic.com/25k32fa.jpg)](http://i47.tinypic.com/i5bwoy.jpg)
[![](http://i46.tinypic.com/2cyrec.jpg)](http://i47.tinypic.com/29cb3ia.jpg)
[![](http://i50.tinypic.com/2r2lj4o.jpg)](http://i45.tinypic.com/jf9c8k.jpg)
