KEYWORDS: art, lillianschwartz, technology, video
LICENSE: CC:BY-SA
PERMALINK: http://ratafia.info/post/799335444/the-artist-and-the-computer
PUBLISHED: 02010-07-11T15:15:00-0800
TITLE: The Artist and the Computer
UPDATED: Jul 11th, 2010 3:15pm
--
<object type='application/x-shockwave-flash'
    data='http://www.youtube-nocookie.com/v/diLa2lig3dw'
    width='536px' height='427px'>
</object>

<object type='application/x-shockwave-flash'
    data='http://www.youtube-nocookie.com/v/yiHv6UTU7nY'
    width='536px' height='427px'>
</object>

[More about <span class='person'>Lillian Schwartz</span>.][wiki]

 [wiki]: http://en.wikipedia.org/wiki/Lillian_Schwartz "Wikipedia article for Lillian Schwartz"
